/*
body {
    background: red;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); /* en faisant ça, on est dépendant d'internet => il vaut mieux importer les polices */

@font-face {
    font-family: "DMSerif";
    src: url(./assets/fonts/DMSerifDisplay-Regular.ttf);
}

/* l'etoile applique un style à TOUS les éléments 
Donc le style ci-dessous revient à remettre à 0 toutes les marges et tous les paddings par défaut
*/
/* * {
    margin: 0;
    padding: 0;
} */

body {
    font-family: "DMSerif", Verdana;
    background: url(./assets/img/bg.jpg) center/cover;
    min-height: 100vh; /* 100% viewport height => l'image doit faire minimum 100% de la taille de l'ecran de l'utilisateur */
}

h1 {
    text-transform: uppercase;
    letter-spacing: 3px; /* espacement de 3 pixels entre les lettres */
    text-align: center;
    font-size: 2.5rem; /* taille de police 2.5rem <=> 2.5 x root-element sachant qu'en général 1rem=16px */
    text-shadow: 2px 2px 7px #00000075; /* il est possible via l'inspecteur de chrome d'utiliser l'éditeur d'ombrage */
    color: rgb(25, 10, 140);
    /* utiliser https://fonts.google.com/ pour trouver une jolie police (télécharger ou importer) */
    font-family: "Oswald", sans-serif; /* font = "Oswald" ou à défaut "sans-serif" */
}

main {
    min-height: 500px; /* ne pas utiliser de % sur les hauteurs.
                       Il faut également éviter de mettre une hauteur figée (height: 500px par exemple)
                       car sinon on risque d'avoir des éléments contenus dans main qui vont déborder.
                       Il vaut mieux utiliser min-height (hauteur min) qui va laisser la hauteur s'adapter */
    width: 90%; /* par contre sur les largeurs c'est très pratique d'utiliser les % */
    background: rgba(236, 232, 232, 0.528);
    /* pour centrer la boite */
    margin: 0 auto; /* marge = 0 en haut et en bas et auto à gauche et à droite (qd on met 2 valeurs) */
    border: 2px solid rgb(0, 128, 255);
    border-radius: 20px 20px 0 0;
    box-shadow: 0px 0px 17px 4px #477c95;
    padding: 15px;
}

h2 {
    margin: 0;
}

/* Le style ci-dessous s'applique à tous les éléments de classe "flexbox" */
.flexbox {
    border: 2px solid skyblue;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}

/* FLEXBOX */
/* Sert à répartir équitablement des éléments sur la page */
.flexbox ul {
    padding: 0;
    display: flex; /* dans chrome il y a un outil graphique pour paramétrer le display flex (très pratique) */
    justify-content: space-around;
}

/* S'applique aux li situés dans la classe "flexbox" */
.flexbox li {
    list-style: none; /* On enlève le style qui s'applique aux li (donc les bullets) */
    height: 160px;
    width: 160px;
    margin: 10px;
    background: turquoise;
    /* Centrer un unique verticalement et horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;
}